@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@900&family=Manrope:wght@300;400;500;600;700&family=Oswald:wght@200;300;400;500&family=Raleway:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
/* Apply light theme by default */
@media (prefers-color-scheme: light) {

    /* Override dark theme styles */
    body {
        background-color: #ffffff;
        /* Set background color to white */
        color: #000000;
        /* Set text color to black */
    }
}

/* Override dark theme */
@media (prefers-color-scheme: dark) {
    /* Reset any dark theme styles here, or leave empty if not needed */
}


body {
    background-color: #ffffff;
}

.hello {
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    height: calc(81px);
    top: 75px;
    position: absolute;
    width: -webkit-fill-available;
}

#limited-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    /* Optional: Adjust the width as needed */
}


.specialText {
    font-size: 20px;
    font-family: 'Figtree', sans-serif;
    position: relative;
    top: 15px;
}

.fontR {
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
}

.font {
    font-family: 'Figtree', sans-serif;
}

.ratingFont {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}


:root {
    --duration: 1s;
    --easing: linear;
    --delay: 0s;
}

.desktop-message {
    display: none;
    /* Hide by default on larger screens */
}

@media (max-width: 768px) {
    .desktop-message {
        display: block;
        /* Show on screens with maximum width of 768px (typical mobile screens) */
        /* Add additional styling here if needed */
    }
}

.tailwind-style {
    position: absolute;
    z-index: 1;
    margin-bottom: 1rem;
    padding: 5px 5px;
    font-size: 12px;
    font-weight: 500;
    /* font-family: 'Segoe UI', sans-serif; */
    color: white;
    border: 0;
    border-radius: 10px;
    background-color: rgb(39, 40, 41);
}

@keyframes shine {

    20%,
    100% {
        transform: translateX(150%);
    }
}

.shine {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0) 25%,
            rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, 0) 75%);
    transform: skewX(-20deg) translateX(-100%);
    animation: var(--duration) var(--easing) var(--delay) infinite forwards shine;
}